* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.nav-container {
    height: 15vh;
    display: flex;
    background-color: #009B72;
    justify-content: space-between;
}
.nav-logo {
    height: 5rem;
    margin-left: 3rem;
    width: 5rem;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 20rem;
    margin-right: 10rem;
    align-items: center;
    text-align: center;
}
.nav-links a {
    text-decoration: none;
    color: #fff;
}
.nav-links a:hover {
    color: #000;
    border-bottom: 1px solid #000;
    transition: 0.3s ease;
}
.bg-img {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 84vh;
    position: fixed;
    z-index: -1;
}
.home-logo {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-top: 5rem;
}
.home-text {
    color: #fff;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.contact-title, .location-container, .hours-container {
    padding: 1rem;
}
.social-container {
    width: 20rem;
    justify-content: space-around;
}
.social-title {
    padding: 2rem;
}
.social-container a {
    padding: 2rem;
    height: 1rem;
    width: 1rem;
}

.fab {
    color: #000;
    padding: 0.5rem;
    border: 1px solid #fff;
}
.fab:hover {
    border: 1px solid #000;
    border-radius: 50%;
    transition: 0.4s ease-in-out;
}
.menu-container {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
}
.menu-item {
    display: flex;
    padding: 1rem;
}
.menu-title {
    font-size: 3rem;
}
.menu-description {
    font-size: 1rem;
    font-weight: 100;
    color: rgb(83, 83, 83);
}